<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v3.0" sku=".NETCore, Version=v3.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="Switch">
        <listeners>
          <add name="TextListener"/>
        </listeners>
      </source>
    </sources>
  <switches>
    <!-- save all messages-->
    <add name="Switch" value="All"/>
  </switches>
  <sharedListeners>
    <add name="TextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.txt"/>
  </sharedListeners>
  <trace indentsize="4" autoflush="true"></trace>
  </system.diagnostics>
</configuration>